.title_up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_suport {
    width: 22rem;
    height: 12rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.title_suport {
    margin-top: -13rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text_suport1,
.text_suport2 {
    text-align: center;
}

.text_suport1 {
    font-size: 24px;
}

.text_suport2 {
    color: rgba(0, 0, 0, 0.68);
}

.contact_suport {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 55rem;
    height: 36rem;
    border-radius: 10px;
    background: var(--boxcolor);
    gap: 1rem;
    padding-top: 1.5rem;
}

.contact_box {
    width: 45rem;
    height: 2rem;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: var(--boxcolor);
    font-size: 15px;
    padding-left: 1rem;
}

.msg_suport {
    width: 45rem;
    height: 18rem;
    border-radius: 20px;
    border: 1px solid #000;
    font-size: 15px;
    padding: 1rem;
    resize: none;
    background-color: var(--boxcolor);
}

.check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    gap: 4rem;
}

.checkbox {
    margin-right: 4.5rem;
    justify-content: space-around;
    border: 1px solid #000;
}

.send_suport {
    background: rgba(137, 113, 203, 0.766);
    width: 15rem;
    height: 4rem;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
}

.send_suport:hover {
    background-color: rgba(235, 160, 10, 0.53);

}

.contact_tel {
    position: relative;
    margin-top: -35rem;
    margin-left: 108rem;
}

.contact_tel2 {
    display: flex;
    flex-direction: column;
}

.contact_tel2 img {
    width: 8rem;
    margin: 2rem;
}

body.darkmode form .send_suport:hover {
    background-color: var(--background-sec-dark);
    border-color: var(--boxcolor);
}

body.darkMode form input,
body.darkMode form,
body.darkMode form textarea {
    background-color: var(--background-sec-dark);
    color: var(--boxcolor);
}