/* Pesquisar */
.search {
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin: 0 auto;
}

.search_Box {
  width: 50%;
  height: 3.5rem;
  border: 0.1250rem solid rgba(0, 0, 0, 0.1);
  border-radius: 3.13rem;
  background-color: var(--boxcolor);
  display: flex;
}

.search_Img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.form_Search {
  border: none;
  margin-left: 1%;
  background-color: none;
  outline: none;
  align-self: auto;
}

.search_Box input {
  width: 90%;
  text-align: left;
}

::placeholder {
  font-size: 2rem;
  color: var(--colortext-placeholder);
}

/* Carrossel */

.slide_show_container {
  max-width: 50%;
  position: relative;
  margin: auto;
  box-sizing: border-box;
}

.my_Slides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2rem;
  padding: 1rem;
  color: rgba(123, 85, 231, 0.7659433402267157);
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.6s ease;
  border-radius: 0 0.1875rem 0.1875rem 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 0.1875rem 0 0 0.1875rem;
}

.prev:hover,
.next:hover {
  background-color: rgba(235, 160, 10, 0.53);
}

.box_dot {
text-align: center;
  margin-top: -2.5rem;

}

.dot {
  display: inline-block;
  cursor: pointer;
  height: 0.6250rem;
  width: 0.6250rem;
  background-color: rgba(123, 85, 231, 0.7659433402267157);
  border-radius: 50%;

  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: rgba(235, 160, 10, 0.53);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media (max-width: 1048px) {
  .search_Box {
  display: none;
  }

  .slide_show_container {
    max-width: 85%;
    max-height: 100%;
}

}