/* pagina login e senha */
.user__box{
    padding: 30px;
    padding-left: 50px;
    padding-top: 5rem;
    padding-left: 70rem;
  
  }
  .acsses__button{
   display: flex;
   background: var(--gradient-color);
   border-radius: 5px;
   padding: 1em;
   width: 20rem;
   height: 10rem;
  }
  