/* manager */

.header {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 3rem;
    padding-left: 70rem;
  } 
  
  .header__title{
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    font-size: 48px;
  }
  
  .choice__header{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.68);
  }
  
  .link__browse{
    background: #8971cbc3;
    width: 25rem;
    height: 4rem;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    color:#ffffff;
    font-family: Montserrat, sans-serif;
    display: grid;
    grid-auto-rows: 150px;
  }
  
  .link__browse:hover{
    background-color: rgba(235, 160, 10, 0.53)
  }
  
  .include__logo{
    align-self: center;
    width: 388px;
    height: 167px;
  }
  