.manager__items {
    box-sizing: border-box;

}

.manager__text {
    text-align: center;
    font-size: 1.5rem;
    margin-top: -2.5rem;
}

.box__manager__report {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select__manager__report {
    margin-bottom: -3rem;
    border-radius: 3.13rem;
    width: 20rem;
    text-align: center;
    z-index: 4;

}

.img__manager__report {
    width: 32rem;
    align-items: center;
}