.manager__items {
    box-sizing: border-box;

}

.manager__text {
    text-align: center;
    font-size: 24px;
    margin-top: -2rem;
}

.box__manager__report {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__select__manager__report {
    border-radius: 50px;
    width: 20rem;
    margin-bottom: -6rem;
    text-align: center;
    z-index: 4;

}

.img__manager__report {
    height: 43rem;
    width: 80rem;
    align-items: center;
}