.text__register{
text-align: center;
}
.register{
    display: flex;
    flex-direction: column;
    align-items: center;
   

}
.register__box{
    width: 40rem;
    height: 3rem;
    border: none;
    border-radius: 0.6250rem;
    background-color: var(--boxcolor);
    font-size: 1.25rem;
    text-align: center;
}

.register__button {
    background: #8971cbc3;
    width: 25rem;
    height: 4rem;
    border-radius: 0.6250rem;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding-top: 0.5rem;
    
  
  }
  .register__button:hover{ background-color:  rgba(235, 160, 10, 0.53);
  }