@font-face {
  font-family: "SegoeUI";
  src: local("SegoeUI"),
    url("./fonts/SegoeUI.ttf") format("truetype");
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "SegoeUI";
}

:root {
  font-size: 62.5%;
  --background-padrao: rgb(217, 217, 217);
  --background-dark: rgb(21, 20, 20);
  --background-sec-dark: rgb(41, 40, 40);
  --colortext-placeholder: rgb(112, 112, 112);
  --colortext-footer: rgba(0, 0, 0, 0.68);
  --boxcolor: rgb(255, 255, 255);
  --gradient-color: linear-gradient(0deg, rgba(217, 217, 217, 1) 0%, rgba(123, 85, 231, 0.7659433402267157) 2%, rgba(235, 141, 10, 0.53) 64%);
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-size: 1.8rem;
  background-color: var(--background-padrao);
  width: 100%;
  height: 100%;
}

main {
  height: 46.3rem;
}

/* header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--gradient-color);
  height: 10rem;
  box-sizing: border-box;
}

.logo_Emp_Img {
  width: 12rem;
  height: 6rem;
  padding-left: 1.5rem;
}

.home_Img {
  width: 3rem;
  height: 3rem;
  padding-left: 1px;
}

.login_Img {
  width: 3.5rem;
  height: 3.5rem;
  outline: 0;
}

.cart_Img {
  width: 3.3rem;
  height: 3rem;
  padding-left: 0.5rem;
}


.up {
  padding-right: 2.3rem;
}

/* switch */

.button_Off img,
.button_On img {
  width: 2.5rem;
  height: 2.7rem;
}

.switch {
  position: relative;
}

.button_On {
  background-color: var(--background-dark);
  position: absolute;
  top: 2rem;
  right: 13px;
  visibility: hidden;
  opacity: 0;
  border: none;
}

.button_Off {
  background-color: var(--background-padrao);
  position: absolute;
  top: 2rem;
  right: 13px;
  border: none;
}

body.darkMode .switch .button_On {
  visibility: visible;
  opacity: 1;
}

body.darkMode .switch .button_Off {
  visibility: hidden;
  opacity: 0;
}

body.darkMode {
  color: var(--background-padrao);
}

body.darkMode p {
  color: var(--background-padrao);
}

body.darkMode {
  background-color: var(--background-dark);
}



/* Footer */

footer {
  padding-inline: 3.5rem;
  background: rgb(123, 85, 231);
  background: var(--gradient-color);
  height: 15.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.base_board {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text_contact {
  font-size: 15px;
  align-self: center;
  color: var(colortext-footer);
}
.customer_logo {
  align-self: center;
  width: 5rem;
  height: 4rem;
}

.text_customer_logo {
  width: 20rem;
  font-size: 15px;
  margin-top: 3px;
  line-height: normal;
  text-align: center;
  color: var(colortext-footer);
}

.contact {
  font-size: 18px;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
  align-self: center;
  color: var(colortext-footer);
}


.text {
  font-size: 13px;
  box-sizing: border-box;
  color: var(--colortext-footer);
  text-align: center;
  padding-top: 2rem;
  align-self: center;
  color: var(colortext-footer);
}

.devs {
  font-size: 16px;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: var(colortext-footer);
}

/* rodapé fundadores */

.founders {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  color: var(colortext-footer);
}

.logo_founders {
  width: 20rem;
  height: 9rem;
  align-self: center;
  padding-top: 1rem;
}

.logins {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 3rem;
  padding-left: 70rem;
}